Repository roxell/tuxpkg: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci-image-debian, ci-image-fedora

gitlab-ci-pipeline.yml:

variables:
  TUXPKG: tuxpkg

image: $CI_REGISTRY_IMAGE:ci-debian

ci-image-debian:
  stage: .pre
  image: docker:20.10-dind
  services:
  - name: docker:20.10-dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
  - 'docker build --build-arg=EXTRA_PACKAGES="dpkg-dev apt-utils createrepo-c rpm gpg gpg-agent python3" -t $CI_REGISTRY_IMAGE:ci-debian -f Dockerfile.ci-debian .'
  - 'docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY'
  - 'docker push $CI_REGISTRY_IMAGE:ci-debian'
  only:
    refs:
    - master
    - main
    changes:
    - Dockerfile.ci-debian
    - debian/control
    - debian/changelog

ci-image-fedora:
  stage: .pre
  image: docker:20.10-dind
  services:
  - name: docker:20.10-dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
  - 'docker build -t $CI_REGISTRY_IMAGE:ci-fedora -f Dockerfile.ci-fedora .'
  - 'docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY'
  - 'docker push $CI_REGISTRY_IMAGE:ci-fedora'
  only:
    refs:
    - master
    - main
    changes:
    - Dockerfile.ci-fedora
    - '*.spec'

rpm:
  stage: build
  image: $CI_REGISTRY_IMAGE:ci-fedora
  variables:
    FLIT_NO_NETWORK: 1
  script:
    - make rpm
  artifacts:
    paths:
      - dist/*.rpm

deb:
  stage: build
  variables:
    FLIT_NO_NETWORK: 1
  script:
    - make deb
  artifacts:
    paths:
      - dist/*.deb

repository:
  only:
    - tags
  needs:
    - deb
    - rpm
  stage: deploy
  script:
    - ${TUXPKG} create-repository
  artifacts:
    paths:
      - dist/repo

pypi:
  only:
    - tags
  stage: deploy
  variables:
    FLIT_USERNAME: __token__
  script:
    - apt-get update
    - apt-get install -qy --no-install-recommends git flit
    - "echo I: FLIT_USERNAME: ${FLIT_USERNAME}"
    - 'if [ -n "${FLIT_PASSWORD}" ]; then echo "I: FLIT_PASSWORD is set!"; else echo "E: FLIT_PASSWORD is NOT SET!"; fi'
    - flit publish

Dockerfile.ci-*: allow EXTRA_PACKAGES on all images
  Dockerfile.ci-debian
  Dockerfile.ci-fedora
Due: ci-image-debian, ci-image-fedora

gitlab-ci-pipeline.yml: pypi: drop package installation
  .gitlab-ci.yml
  gitlab-ci-pipeline.yml
Due: none

add tuxpkg init command to create skeleton files
  Makefile
  debian/watch
  pyproject.toml
  test/test_actions.py
  tuxpkg/__main__.py
  tuxpkg/actions.py
  tuxpkg/data/create-repository
  tuxpkg/data/init.sh
  tuxpkg/data/init/.gitignore
  tuxpkg/data/init/.gitlab-ci.yml
  tuxpkg/data/init/Dockerfile.ci-debian
  tuxpkg/data/init/Dockerfile.ci-fedora
  tuxpkg/data/init/Makefile.jinja2
  tuxpkg/data/init/debian/changelog.jinja2
  tuxpkg/data/init/debian/control.jinja2
  tuxpkg/data/init/debian/gbp.conf
  tuxpkg/data/init/debian/rules.jinja2
  tuxpkg/data/init/debian/source/format
  tuxpkg/data/init/test/test_{{project}}.py.jinja2
  tuxpkg/data/init/{{project}}.spec.jinja2
  tuxpkg/data/init/{{project}}/__init__.py.jinja2
  tuxpkg/data/tuxpkg.mk
Due: none

tuxpkg.mk: parameterize minimum required coverage
  tuxpkg/data/tuxpkg.mk
Due: none

tuxpkg.mk: make black display diffs
  tuxpkg/data/tuxpkg.mk
Due: none

deb, rpm: add missing build dependency on python3-jinja2
  debian/control
  tuxpkg.spec
Due: ci-image-debian, ci-image-fedora

gitlab-ci-pipeline.yml: test: use prepared image for testing
  gitlab-ci-pipeline.yml
Due: none

TestCopyDirectory: require executable bit, but allow others
  test/test_actions.py
Due: none

Encapsulate dockerfiles to avoid copying them around
  gitlab-ci-pipeline.yml
  test/test_main.py
  tuxpkg/__main__.py
  tuxpkg/actions.py
  tuxpkg/data/Dockerfile.ci-debian
  tuxpkg/data/Dockerfile.ci-fedora
Due: none

Revert "Encapsulate dockerfiles to avoid copying them around"
  Dockerfile.ci-debian
  Dockerfile.ci-fedora
  gitlab-ci-pipeline.yml
  test/test_main.py
  tuxpkg/__main__.py
  tuxpkg/actions.py
Due: ci-image-debian, ci-image-fedora

release: create signed tag before pushing
  tuxpkg/data/release
Due: none

Turn dockerfiles into symlinks to the template ones
  Dockerfile.ci-debian
  Dockerfile.ci-fedora
Due: ci-image-debian, ci-image-fedora

create-repository: fix project name
  tuxpkg/data/create-repository
Due: none

tuxpkg.spec: add missing runtime dependency on python3-jinja2
  tuxpkg.spec
Due: ci-image-fedora

debian/control: add missing runtime dependency
  debian/control
Due: ci-image-debian

tuxpkg.mk: allow including Makefile to define version first
  tuxpkg/data/tuxpkg.mk
Due: none

Release 0.4.0
  debian/changelog
  tuxpkg.spec
  tuxpkg/__init__.py
Due: ci-image-debian, ci-image-fedora

init: fix URL in template for .gitlab-ci.yml
  tuxpkg/data/init/.gitlab-ci.yml
Due: none

init: debian/rules: drop usage of tuxpkg
  tuxpkg/data/init/debian/rules.jinja2
Due: none

init: .gitlab-ci-yml: set TUXPKG_PROJECT
  tuxpkg/data/init/.gitlab-ci.yml.jinja2
Due: none

gitlab-ci-pipeline.yml: always install build dependencies
  gitlab-ci-pipeline.yml
Due: none

CI: record coverage value and cobertura artifact
  gitlab-ci-pipeline.yml
  tuxpkg/data/tuxpkg.mk
Due: none

README.md: make some instructions a bit more clear
  README.md
Due: none

init: .gitignore: add coverage.xml
  tuxpkg/data/init/.gitignore
Due: none

init: add a README.md
  tuxpkg/data/init/README.md.jinja2
Due: none

fix: subcommands.md update
  README.md
  docs/subcommands.md
Due: none

Release 0.7.0
  debian/changelog
  tuxpkg.spec
  tuxpkg/__init__.py
Due: ci-image-debian, ci-image-fedora

Release 0.8.0
  debian/changelog
  tuxpkg.spec
  tuxpkg/__init__.py
Due: ci-image-debian, ci-image-fedora

makefile: allow downstream users to set options for tools
  tuxpkg/data/tuxpkg.mk
Due: none

gitlab-ci-pipeline.yml: indent script for CI image build jobs
  gitlab-ci-pipeline.yml
Due: none

Fix inconsistenty on sanity-test vs sanity-check
  gitlab-ci-pipeline.yml
  tuxpkg/data/init/Dockerfile.ci-debian
  tuxpkg/data/init/Dockerfile.ci-fedora
Due: none

gitlab-ci-pipeline.yml: be compatible with older versions of tuxpkg
  gitlab-ci-pipeline.yml
Due: none

ci-debian: install ca-certificates
  tuxpkg/data/init/Dockerfile.ci-debian
Due: none

tuxpkg.mk: drop unecessry definitions
  tuxpkg/data/tuxpkg.mk
Due: none

README: update gitlab help
  README.md
Due: none

Release 0.11.0
  debian/changelog
  tuxpkg.spec
  tuxpkg/__init__.py
Due: ci-image-debian, ci-image-fedora

gitlab-ci-pipeline.yml: don't try to run missing commands
  gitlab-ci-pipeline.yml
Due: none

.gitlab-ci.yml: doc: use mkdocs-material from Debian
  .gitlab-ci.yml
  tuxpkg/data/init/Dockerfile.ci-debian
Due: none

Delete any tmp directory after installation
  tuxpkg/data/init/Dockerfile.ci-debian
Due: none

Add command to check repository signing key
  tuxpkg/__main__.py
  tuxpkg/actions.py
  tuxpkg/data/check-repository-key
Due: none
